body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    background-color: #f0f0f0;
}

.form-container {
    margin-right: 20%;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input {
    margin: 10px auto;
    padding: 10px;
    display: block;
}

button{
    border-radius: 5px;
}

button:hover{
    background-color: chocolate;
    cursor: pointer;
}
